.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 50vh !important; */
  min-height: 670px;
  /* background-image: url("../../assets/Home/bg.jpg"); */
  background:linear-gradient(rgba(255,255,255,0.1),transparent);
  background-color: var(--dark-blue);
  
}
